<!DOCTYPE html>
<html>
<head>
  <title>Login Required</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <p>You must be logged in to view topics. <a href="/">Log In</a></p>
</body>
</html>
